/* FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* COLOR PALETTE */
:root {
   --white: #FFFFFF;
   --dark-blue: #141922;
   --black: #000000;
   --grey-800: #282828;
   --grey-600: #6E6E6E;
   --grey-400: #A3A3A3;
   --grey-200: #D2D2D2;
   --lime: #ADFF2F;
}

/* RESET RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

figure > img {
    display: block;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

/* UTILITY CLASSES */
.items-center {
    align-items: center;
}

.text-white {
    color: var(--white);
}

.sm-text {
    font-size: 12px;
    font-weight: 700;
    color: var(--grey-600);
}

.padding-left-15 {
    padding-left: 15px;
}

/* #APP STYLING */
#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

/* .TOOL-BAR STYLING */
#app .tool-bar {
    background-color: var(--grey-800);
    padding: 12px 10px;
}

.tool-bar .tools {
    display: flex;
    justify-content: space-between;
}

.tool.song-tool {
    display: flex;
    gap: 11px;
}

.tool.song-tool .thumbnail-song img {
    height: 28px;
}

.tool.song-tool .thumbnail-description .album-name {
    font-size: 13px;
}

.thumbnail-description .song-details {
    color: var(--grey-400);
    font-size: 11px;
    font-weight: 700;
}

.thumbnail-description .song-details:hover {
    text-decoration: underline;
    color: var(--white);
}

.tool.song-tool .song-cta {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
    color: var(--grey-400);
}

.tool.song-tool .song-cta .button:hover {
    color: var(--white);
}

.tool.control-tools {
    width: 37%;
    max-width: 550px;
}

.tool.control-tools .player-controls{
    display: flex;
    gap: 22px;
    justify-content: center;
}

.tool.control-tools .player-controls .play {
    font-size: 30px;
    padding: 0 10px;
}

.tool.control-tools .player-controls .play:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.tool.control-tools .timeline {
    display: flex;
    gap: 10px;
    font-size: 11px;
    margin-top: 13px;
    font-weight: 700;
}

.tool.volume-tool {
    display: flex;
    gap: 7px;
    width: 30%;
    max-width: 210px;
    font-size: 13px;
}

.song-line {    
    flex-grow: 1;
    border-radius: 5px;
    background-color: var(--grey-600);
    cursor: pointer;
    position: relative;
}

.song-line .hover-line {
    position: relative;
    width: 60%;
    height: 4px;
    background-color: var(--grey-400);
    border-radius: 5px;
}

.song-line:hover .hover-line {
    background-color: var(--lime);
}

.song-line:hover .dot {
    display: initial;
}

.song-line .dot {
    position: absolute;
    left: 60%;
    top: 50%;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: var(--white);
    display: none;
    transform: translate(-50%, -50%);
}

/* MAIN CONTENT STYLING */
#app .main-content {
    flex-grow: 1;
    display: flex;
    background-color: var(--dark-blue);
    overflow: hidden;
}

 .main-content .side-bar {
    padding: 5px 11px 10px 11px;
    color: var(--grey-400);
    font-weight: 700;
}

/* SIDEBAR */
.main-content .side-bar {
    flex-basis: 50px;
    flex-shrink: 0;
    background-color: var(--black);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}   

/* logo styling */
.logo .big-logo {
    height: 42px;
    display: none;
    margin-bottom: 30px;
}

.logo .small-logo {
    height: 28px;
    margin-bottom: 17px;
}

/* navbar styling */
.navbar {
    margin-bottom: 25px;
    flex-grow: 1;
}

.navigation .nav-item {
    margin-bottom: 10px;
    display: flex;
    gap: 8px;
    font-size: 14px;
    position: relative;
}

.navigation .nav-item:hover,
.add-playlist:hover,
.playlist-section .playlist-item:hover,
.side-bar .cta .download-text:hover {
    color: var(--white);
    cursor: pointer;
}

.nav-item .nav-img img {
    height: 24px;
}

.nav-item .nav-img::before {
    content: "";
    display: block;
    position: absolute;
    left: -21px;
    bottom: 0;
    width: 3px;
    height: 100%;
    background-color: var(--lime);
    opacity: 0;
}

.nav-item:hover > ::before {
    opacity: 1;
}

.nav-item .nav-text {
    display: none;
}

/* playlist section styling */
.playlist-section {
    display: none;
}

.playlist-section .playlist-title {
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 16px;
}

.playlist-section .add-playlist {
    display: flex;
    gap: 11px;
    margin-bottom: 25px;
}

.playlist-section .add-playlist .add {
    padding: 9px 11px;
    background-color: var(--grey-400);
    color: var(--black);
    font-size: 18px;
    font-weight: 900;
}

.playlist-section .add-playlist:hover .add {
    background-color: var(--white);
}

.playlist-section .playlist-item {
    font-size: 13px;
    margin-bottom: 23px;
}

/* cta download app and profile button */
.side-bar .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-bar .cta .cta-download {
    display: flex;
    gap: 5px;
    padding-bottom: 12px;
    margin-bottom: 14px;
}

.side-bar .cta .download-icon {
    height: 16px;
    aspect-ratio: 1;
}

.side-bar .cta .download-text {
    font-size: 13px;
    display: none;
}

.side-bar .cta .cta-profile {
    display: flex;
    gap: 11px;
}

.side-bar .cta .cta-profile .profile-img img {
    height: 25px;
    background-color: var(--grey-400);
    border-radius: 50%;
    aspect-ratio: 1;
}

.side-bar .cta .cta-profile .profile-name {
    color: var(--white);
    font-size: 14px;
    display: none;
    text-transform: capitalize;
}

/* .PAGE-FOCUS STYLING */
.main-content .page-focus {
    flex-grow: 1;
    overflow: auto;
}

.page-focus .upgrade-bar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 20px 28px 20px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    left: 50px;
    right: 0;
    z-index: 10;
}

.page-focus .upgrade-bar .btn-upgrade {
    color: var(--white);
    text-transform: uppercase;
    line-height: 40px;
    border: 2px solid var(--white);
    padding: 0 42px;
    border-radius: 30px;
    transition: 0.2s linear;
}

.page-focus .upgrade-bar .btn-upgrade:hover {
    transform: scale(1.1);
}

.page-focus .categories-menu {
    color: var(--grey-400);
    padding: 110px 30px 45px 30px;
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    gap: 24px;
    justify-content: center;
}

.categories-menu .category-item {
    line-height: 30px;
    position: relative;
}

.categories-menu .category-item:hover > ::after {
    width: 50%;
}

.categories-menu .category-item a::after {
    content: "";
    height: 2px;
    width: 0;
    background-color: var(--lime);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s ease-in;
}

.categories-menu .category-item:hover {
    color: var(--white);
}

/* playlist carousel */
.page-focus .playlist-carousel {
    padding: 0 5px;
    margin-bottom: 45px;
} 

.playlist-carousel + .playlist-carousel .carousel-title {
    margin-bottom: 10px;
}

.playlist-carousel .carousel-subtitle {
    margin-bottom: 30px;
}

.playlist-carousel .carousel-title {
    font-size: 30px;
    color: var(--white);
    margin-bottom: 35px;
}

.carousel-showcase {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.carousel-showcase .card {
    padding: 0 15px;
    flex-basis: calc((100% / 2) - 15px);
    display: flex;
    flex-direction: column;
}

.card .card__img {
    margin-bottom: 21px;
    position: relative;
}

.card .card__img .overlay-btn {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    cursor: pointer;
}

.card .card__img .overlay-btn.overlay-btn--circle {
    border-radius: 50%;
}

.card .card__img:hover .overlay-btn {
    opacity: 1;
}

.card .card__name{
    color: var(--white);
    margin-bottom: 11px;
    text-align: center;
    line-height: 19px;
}

.carousel-showcase .card.artist-card .card__img img {
    border-radius: 50%;
}




/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    .main-content .side-bar {
        flex-basis: 230px;
    }

    .tool.song-tool .song-cta {
        flex-direction: row;
    }

    .tool.song-tool .thumbnail-song img {
        height: 42px;
    }

    .logo .small-logo {
        display: none;
    }

    .logo .big-logo,
    .nav-item .nav-text,
    .playlist-section,
    .side-bar .cta,
    .side-bar .cta .download-text,
    .side-bar .cta .cta-profile .profile-name {
        display: block;
    }

    .main-content .side-bar {
        padding: 20px 11px 7px 21px;
    }

    .playlist-section {
        flex-grow: 1;
    }

    .side-bar .cta {
        align-self: stretch;
    }

    .side-bar .cta .cta-download {
        border-bottom: 1px solid var(--grey-400);
    }

    .navbar {
        flex-grow: 0;
    }

    /* main content */
    .page-focus .upgrade-bar {
        left: 230px;
    }
}

@media screen and (min-width: 927px) {
    .carousel-showcase .card {
        flex-basis: calc((100% / 4) - 15px);
    }
}

@media screen and (min-width: 1142px) {
    .carousel-showcase .card {
        flex-basis: calc((100% / 6) - 15px);
    }  
}



/* debug */
/* 
.debug #app {
    border: 5px solid red;
}

.debug .main-content {
    border: 3px solid green;
}
*/
/* .debug .tool-bar {
    padding: 20px 0;
}  */

/* .debug .tool {
    border: 2px solid greenyellow;
} */

